body {
    font-family: 'Comic','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 115%;
}
main {
    background-color: #ffee00;
}
/*--- I coded from bottom to top the second time around it worked for me.---*/
/*--- Looks perfect in Firefox ---*/
h1 {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #0a138f;
    text-align: center;
}
header {
    background-color: #f0f0f0;
    width: 100%;
    height: auto;
    
}
nav {
    background-color: #c8e1f5;
    width: 100%;
    height: auto;
    
}
li {
    display: inline-block;
    padding: 10px;
    width:auto;
}
div {
    width: 100%;
    background-color: #ffee00;
}

footer {
    background-color: #ecece6;
    width: 100%;
}
p {
    line-height: auto;
}
