body {
    background-color: rgb(229, 229, 140);
    font-family: 'Comic','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 115%;
}
main {
    background-color: #ffee00;
    font-size: 100%;
}
/*--- I coded from bottom to top the second time around it worked for me.---*/
/*--- Looks perfect in Firefox ---*/
h1 {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #0a138f;
    text-align: center;
}
header {
    background-color: #B2BEB5;
    width: 100%;
    height: auto;
    
}
nav {
    display: inline-block;
    width: 80%;
    height: auto;
       
}
nav img {
    width: 10%;
    height: auto;
    position: relative;  
    top: 20px;
    float: right;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;    
}
/*
li {
    
    padding: 10px;
    width:auto;
}
*/
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}
.flex-container {
  display: flex;
  justify-content: space-between;
}
div {
    width: 100%;
    background-color: rgb(42, 56, 165);
}

div>img {
    width: 80%;
    height: auto;
    padding: 10px;
}

footer {
    background-color: #B2BEB5;
    width: 100%;
}
p {
    line-height: auto;
}