body {
    background-color: rgb(229, 229, 140);
    font-family: 'Comic','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
}
main {
    background-color: #ffee00;
    font-size: 100%;
}
/*--- I coded from bottom to top the second time around it worked for me. "no ids"---*/
/*--- Looks perfect in Firefox ---*/
h1 {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #0a138f;
    text-align: center;
}
header {
    background-color: #B2BEB5;
    width: 100%;
    height: auto;
 }
nav {
    display: inline-block;
    width: 80%;
    height: auto;
}
nav img {
    width: 10%; /*--- I think I can use pixels instead of percentages, but that's not the assignment ---*/
    height: auto;
    position: relative;  
    margin-top: 0%; /*--- the image kept bleading into the link list so I set the margin to zero ---*/   
    float: right;
}
/*--- using ul instead of li ----*/
ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    clear: both; /*--- I used clear: both to clear the float from the image ---*/   
}
/*--- professor says comment out li ----
li {
    
    padding: 10px;
    width:auto;
}
*/
.grid-container {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: space-evenly;
  row-gap: 40px;
  align-items: center;
 }
/*--- I used grid for the images ---*/
.grid-container>img {
    width: 100%;
    height: auto;
    margin-left: 8px;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
/*--- I used flexbox for the images ---*/
.flex-container>img {
    width: 175px; /*--- I used pixels for the width of the images to get close to example---*/
    height: auto;
}
div {
    width: 100%;
    background-color: rgb(42, 56, 165);
}
footer {
    background-color: #B2BEB5;
    width: 100%;
}
p {
    line-height: auto;
}